<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet"/>
  <title>SpaceRep list</title>
</head>
<body>
<h4>List of learning entries</h4>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a th:unless="${view == 'all'}" href="/all">Show all</a>
      <a th:unless="${view == 'allActive'}" href="/">Show to process</a>
      <a th:unless="${view == 'archive'}" href="/archive">Show to archive</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a href="/create">Create</a>
    </li>
  </ol>
</nav>

<table class="table table-striped">

  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Scheduled</th>
    <th scope="col">Links</th>
    <th scope="col">Mark</th>
    <th scope="col">Attempt</th>
    <th scope="col">Notes</th>
    <th scope="col">X</th>
  </tr>

  <tr th:each="entry,iter : ${entries}">
    <td scope="row">
      <div class="col-auto">
        <span th:text="${iter.index + 1}"/>
      </div>
      <div class="col-auto">
        <a th:href="@{/edit/full/{uuid}(uuid=${entry.uuid})}">(full)</a>
      </div>
      <div class="col-auto">
        <a th:href="@{/edit/process/{uuid}(uuid=${entry.uuid})}">(process)</a>
      </div>
    </td>
    <td th:text="${entry.name}"></td>
    <td>
      <span th:text="${entry.scheduledFor.year}"/>/<span
        th:text="${entry.scheduledFor.month}"/>/<span th:text="${entry.scheduledFor.day}"/>
    </td>
    <td>
      <a th:href="@{(${entry.link})}" target="_blank"><span th:text="${entry.link}"/></a>
    </td>
    <td th:text="${entry.lastMark.value}"></td>
    <td th:text="${entry.attempt}"></td>
    <td th:text="${entry.notes}"></td>
    <td >
      <form action="#"
            th:action="@{/delete/{uuid}(uuid=${entry.uuid})}"
            method="POST" autocomplete="off">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>

</table>

</body>
</html>