<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet"/>
  <title>SpaceRep list</title>
</head>
<body>
<h4>List of learning entries</h4>

<table class="table table-striped">

  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Scheduled</th>
    <th scope="col">Links</th>
    <th scope="col">Status</th>
    <th scope="col">Attempt</th>
    <th scope="col">Notes</th>
  </tr>

  <tr th:each="entry : ${entries}">
    <td scope="row" >
      <a th:href="@{/edit/{id}(id=${entry.id})}"><span th:text="${entry.id}"/></a>
    </td>
    <td th:text="${entry.name}"></td>
    <td>
      <span th:text="${entry.scheduledFor.year}"/>/<span th:text="${entry.scheduledFor.month}"/>/<span th:text="${entry.scheduledFor.day}"/>
    </td>
    <td>
      <a th:href="@{(${entry.link})}" target="_blank"><span th:text="${entry.link}"/></a>
    </td>
    <td th:text="${entry.status}"></td>
    <td th:text="${entry.attempt}"></td>
    <td th:text="${entry.notes}"></td>
  </tr>

</table>

</body>
</html>